<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				margin: 0px;
				overflow: hidden;
				background-color: #006699;
			}
	
			.ui {
				position: absolute;
			}
	
			#glCanvas {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				margin: 0px;
			}
		</style>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>		
		<canvas id="glCanvas"></canvas>
		<img id="tex-image" src="./assets/wooden-wall.jpg" hidden="true">
		<script type="module">
			import { main } from "./dist/src/main.js"
			document.addEventListener('DOMContentLoaded', main);
		</script>
	</body>
</html>